In [1]:
# Importação do Pandas
import pandas as pd

### Criar DataFrames com base nos Datasets

##### Customers

In [2]:
# Carregamento do dataframe de clientes (customers)
df_customers = pd.read_csv('data/churn_customers.csv')

In [3]:
# Visualização dos 3 primeiros registros de customers
df_customers.head(3)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No

In [4]:
# Visualização dos 4 últimos registros de customers
df_customers.tail(4)

      customerID  gender  SeniorCitizen Partner Dependents
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [5]:
# Visualização de informações/schema do dataframe de customers
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

##### Services

In [6]:
# Carregamento do dataframe de serviços (services)
df_services = pd.read_csv('data/churn_services.csv')

In [7]:
# Visualização dos 3 primeiros registros de services
df_services.head(3)

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Yes,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No

In [8]:
# Visualização dos 4 últimos registros de services
df_services.tail(4)

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
7039,2234-XADUH,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7040,4801-JZAZL,No,No phone service,DSL,Yes,No,No,No,No,No
7041,8361-LTMKD,Yes,Yes,Fiber optic,No,No,No,No,No,No
7042,3186-AJIEK,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [9]:
# Visualização de informações/schema do dataframe de services
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

##### Contracts

In [10]:
# Carregamento do dataframe de contratos (contracts)
df_contracts = pd.read_csv('data/churn_contracts.csv')

In [11]:
# Visualização dos 3 primeiros registros de contracts
df_contracts.head(3)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [12]:
# Visualização dos 4 últimos registros de contracts
df_contracts.tail(4)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7039,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
# Visualização de informações/schema do dataframe de contracts
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

### Transformação de Dados

> Coluna "TotalCharges" deveria ser do tipo `float`

In [14]:
# Transformação da coluna "TotalCharges" para float (abordagem com astype)
try:
    df_contracts['TotalCharges'] = df_contracts['TotalCharges'].astype(float)
except Exception as e:
    print(f'Erro identificado: {e}.')

Erro identificado: could not convert string to float: ' '.

##### Disclaimer

In [15]:
# Exemplo de quando o astype funciona
df = pd.DataFrame(
    {
        'id_venda': [1, 2, 3],
        'valor_venda': ['100.58', '199.99', '335.42']
    }
)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venda     3 non-null      int64
 1   valor_venda  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [17]:
# Conversão da coluna "valor_venda" para float
df['valor_venda'] = df['valor_venda'].astype(float)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venda     3 non-null      int64
 1   valor_venda  3 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 180.0 bytes

In [19]:
df

   id_venda  valor_venda
0         1       100.58
1         2       199.99
2         3       335.42

##### 2ª alternativa de transformação da coluna para `float`

In [20]:
# Transformação da coluna "TotalCharges" para float (abordagem com to_numeric)
try:
    df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'])
except Exception as e:
    print(f'Erro identificado: {e}.')

Erro identificado: Unable to parse string " " at position 488.

In [21]:
# Visualização do valor da linha 488 e da coluna "TotalCharges"
df_contracts.loc[488, 'TotalCharges']

' '

##### 3ª alternativa

In [22]:
# Transformação da coluna "TotalCharges" para float (abordagem com to_numeric com parâmetro errors='coerce')
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'], errors='coerce')

In [23]:
# Visualização da linha 488 do dataframe de contratos
df_contracts.loc[488]

customerID                         4472-LVYGI
tenure                                      0
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          52.55
TotalCharges                              NaN
Churn                                      No
Name: 488, dtype: object

In [24]:
# Filtro para identificar registros com valores nulos na coluna "TotalCharges"
df_contracts[df_contracts['TotalCharges'].isnull()]

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,0,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,0,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,0,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,0,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,0,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,0,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,0,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,0,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,0,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,0,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,0,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

> Após a transformação do tipo da coluna "TotalCharges", foi identificado 11 valores nulos

### Renomear colunas

In [25]:
# Visualização dos nomes das colunas de customers
df_customers.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents'], dtype='object')

In [26]:
# Renomeação da coluna SeniorCitizen para Above65yo
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'}) # Sem o parâmetro inplace a alteração não é persistida

      customerID  gender  Above65yo Partner Dependents
0     7590-VHVEG  Female          0     Yes         No
1     5575-GNVDE    Male          0      No         No
2     3668-QPYBK    Male          0      No         No
3     7795-CFOCW    Male          0      No         No
4     9237-HQITU  Female          0      No         No
...          ...     ...        ...     ...        ...
7038  6840-RESVB    Male          0     Yes        Yes
7039  2234-XADUH  Female          0     Yes        Yes
7040  4801-JZAZL  Female          0     Yes        Yes
7041  8361-LTMKD    Male          1     Yes         No
7042  3186-AJIEK    Male          0      No         No

[7043 rows x 5 columns]

In [27]:
# Alteração não persistida
df_customers.head(1)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No

In [28]:
# Criação de um novo dataframe com a coluna renomeada
df_customers_renamed = df_customers.rename(columns={'SeniorCitizen': 'Above65yo'})

In [29]:
# Visualização da estrutura do novo dataframe
df_customers_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [30]:
# Aplicação da renomeação persistida no próprio dataframe
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'}, inplace=True)

In [31]:
# Visualização da estrutura do dataframe após a renomeação persistida (com Above65yo)
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [32]:
# Renomeação usando lista (modificar todos os nomes de colunas)
df_customers.columns = ['IDCliente', 'Genero', 'Mais65Anos', 'TemParceiro', 'TemDependentes']

In [33]:
# Visualização da estrutura do dataframe após a renomeação persistida (com todas as colunas renomeadas)
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDCliente       7043 non-null   object
 1   Genero          7043 non-null   object
 2   Mais65Anos      7043 non-null   int64
 3   TemParceiro     7043 non-null   object
 4   TemDependentes  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

### Unificar DataFrames

In [34]:
# Contagem da quantidade de linhas do dataframe de customers
len(df_customers)

7043

In [35]:
# Contagem da quantidade de linhas do dataframe de services
len(df_services)

7043

In [36]:
# Contagem da quantidade de linhas do dataframe de contracts
len(df_contracts)

7043

In [37]:
# Renomeação da coluna "customerID" para "IDCliente" no dataframe de services
df_services.rename(columns={'customerID': 'IDCliente'}, inplace=True)

In [38]:
# Visualização da estrutura do dataframe de services após a renomeação
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [39]:
# Unificação dos dataframes de customers e services
df_customers_services = df_customers.merge(df_services, on='IDCliente')

In [40]:
# Visualização da estrutura do dataframe unificado
df_customers_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 770.5+ KB

In [41]:
# Visualização dos 3 primeiros registros do dataframe unificado
df_customers_services.head(3)

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No

In [42]:
# Unificação dos dataframes de customers_services e contracts (com nomes de colunas diferentes)
df_churn_temp = df_customers_services.merge(df_contracts, left_on='IDCliente', right_on='customerID')

In [43]:
# Visualização da estrutura do dataframe resultante dos 3 primeiros
df_churn_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  customerID        7043 non-null   object
 15  tenure            7043 non-null   int64
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [44]:
# Unificação dos 3 dataframes (customers, services e contracts) em um único dataframe
df_churn = df_customers.merge(df_services, on='IDCliente') \
           .merge(df_contracts, left_on='IDCliente', right_on='customerID')

In [45]:
# Visualização da estrutura do dataframe resultante
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  customerID        7043 non-null   object
 15  tenure            7043 non-null   int64
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [46]:
# Remoção da coluna "customerID" do dataframe de churn
df_churn.drop('customerID', axis=1, inplace=True) # axis=1 indica que a remoção é de uma coluna e axis=0 indicaria linha

In [47]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   Mais65Anos        7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependentes    7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  tenure            7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

## Detecção de valores ausentes

In [48]:
# Detecção de valores ausentes no dataframe de churn
df_churn.isna().sum()

IDCliente            0
Genero               0
Mais65Anos           0
TemParceiro          0
TemDependentes       0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [49]:
# Detecção de valores ausentes em uma coluna específica
print(df_churn.TotalCharges.isna().sum())

11

In [50]:
# Detecção de quantas linhas possuem pelo menos um valor ausente
df_churn[df_churn.isna().any(axis=1)]

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,0,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,...,No,Yes,Yes,0,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,...,Yes,Yes,No,0,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,...,Yes,Yes,No,0,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,...,Yes,No,No,0,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [51]:
# Detecção de quantas colunas possuem pelo menos um valor ausente
df_churn.isna().any()

IDCliente           False
Genero              False
Mais65Anos          False
TemParceiro         False
TemDependentes      False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
tenure              False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn               False
dtype: bool

## Remoção de valores ausentes

In [52]:
# Remoção da coluna "TotalCharges" do dataframe de churn
df_churn.drop(columns='TotalCharges', axis=1)

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,1,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,34,One year,No,Mailed check,56.95,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,2,Month-to-month,Yes,Mailed check,53.85,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,45,One year,No,Bank transfer (automatic),42.30,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,2,Month-to-month,Yes,Electronic check,70.70,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.80,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.20,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,11,Month-to-month,Yes,Electronic check,29.60,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,4,Month-to-month,Yes,Mailed check,74.40,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.65,No

In [53]:
# Remoção de colunas com valores ausentes
df_churn.dropna(axis=1)

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,1,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,34,One year,No,Mailed check,56.95,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,2,Month-to-month,Yes,Mailed check,53.85,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,45,One year,No,Bank transfer (automatic),42.30,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,2,Month-to-month,Yes,Electronic check,70.70,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.80,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.20,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,11,Month-to-month,Yes,Electronic check,29.60,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,4,Month-to-month,Yes,Mailed check,74.40,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.65,No

In [54]:
# Remoção de colunas se todas as linhas possuírem valores ausentes
df_churn.dropna(axis=1, how='all')

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,...,No,No,No,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,...,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,...,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [55]:
# Remoção das linhas com algum valor ausente
df_churn.dropna(axis=0)

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,...,No,No,No,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,...,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,...,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [56]:
# Remoção de linhas com todos os valores ausentes
df_churn.dropna(axis=0, how='all')

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,...,No,No,No,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,...,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,...,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

## Imputação de valores ausentes

In [57]:
# Preenchimento de valores ausentes com ZERO
df_churn.fillna(0).query('TotalCharges == 0')

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,0,Two year,Yes,Bank transfer (automatic),52.55,0.0,No
753,3115-CZMZD,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.25,0.0,No
936,5709-LVOEQ,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,...,No,Yes,Yes,0,Two year,No,Mailed check,80.85,0.0,No
1082,4367-NUYAO,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.75,0.0,No
1340,1371-DWPAZ,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,...,Yes,Yes,No,0,Two year,No,Credit card (automatic),56.05,0.0,No
3331,7644-OMVMY,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,19.85,0.0,No
3826,3213-VVOLG,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.35,0.0,No
4380,2520-SGTTA,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.00,0.0,No
5218,2923-ARZLG,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,One year,Yes,Mailed check,19.70,0.0,No
6670,4075-WKNIU,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,...,Yes,Yes,No,0,Two year,No,Mailed check,73.35,0.0,No
6754,2775-SEFEE,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,...,Yes,No,No,0,Two year,Yes,Bank transfer (automatic),61.90,0.0,No

In [58]:
# Preencimento de valores padrões a depender do tipo de dado
df_churn.fillna(value={
    'TotalCharges': 0,
    'Genero': 'Não Declarado'
}).query('TotalCharges == 0')

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,0,Two year,Yes,Bank transfer (automatic),52.55,0.0,No
753,3115-CZMZD,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.25,0.0,No
936,5709-LVOEQ,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,...,No,Yes,Yes,0,Two year,No,Mailed check,80.85,0.0,No
1082,4367-NUYAO,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.75,0.0,No
1340,1371-DWPAZ,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,...,Yes,Yes,No,0,Two year,No,Credit card (automatic),56.05,0.0,No
3331,7644-OMVMY,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,19.85,0.0,No
3826,3213-VVOLG,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.35,0.0,No
4380,2520-SGTTA,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.00,0.0,No
5218,2923-ARZLG,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,One year,Yes,Mailed check,19.70,0.0,No
6670,4075-WKNIU,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,...,Yes,Yes,No,0,Two year,No,Mailed check,73.35,0.0,No
6754,2775-SEFEE,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,...,Yes,No,No,0,Two year,Yes,Bank transfer (automatic),61.90,0.0,No

In [59]:
# Preenchimento de valores ausentes com a média da coluna
media_TotalCharges = df_churn['TotalCharges'].mean()

df_churn.fillna(value={'TotalCharges': media_TotalCharges}).query('TotalCharges == @media_TotalCharges')

,IDCliente,Genero,Mais65Anos,TemParceiro,TemDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,0,Two year,Yes,Bank transfer (automatic),52.55,2283.300441,No
753,3115-CZMZD,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.25,2283.300441,No
936,5709-LVOEQ,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,...,No,Yes,Yes,0,Two year,No,Mailed check,80.85,2283.300441,No
1082,4367-NUYAO,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.75,2283.300441,No
1340,1371-DWPAZ,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,...,Yes,Yes,No,0,Two year,No,Credit card (automatic),56.05,2283.300441,No
3331,7644-OMVMY,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,19.85,2283.300441,No
3826,3213-VVOLG,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.35,2283.300441,No
4380,2520-SGTTA,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.00,2283.300441,No
5218,2923-ARZLG,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,One year,Yes,Mailed check,19.70,2283.300441,No
6670,4075-WKNIU,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,...,Yes,Yes,No,0,Two year,No,Mailed check,73.35,2283.300441,No
6754,2775-SEFEE,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,...,Yes,No,No,0,Two year,Yes,Bank transfer (automatic),61.90,2283.300441,No

## Análise univariada

Hipótese 1: A faixa etária do cliente tem uma forte associação com o churn

In [60]:
# Verificação de valores únicos em uma coluna
df_churn['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [61]:
# Contaagem de clientes usando a variável churn
df_churn['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [62]:
# Porcentagem de clientes que cancelaram o serviço e que não cancelaram
df_churn['Churn'].value_counts(normalize=True) * 100

Churn
No     73.463013
Yes    26.536987
Name: proportion, dtype: float64

In [63]:
# Plotagem da distribuição de clientes que cancelaram o serviço e que não cancelaram
ax = df_churn['Churn'].value_counts().plot(kind='bar', title='Distribuição de clientes churn', xlabel='Churn', ylabel='Quantidade', color=['lightgreen', 'orange'], figsize=(10, 7))

# Adição de rótulos nos gráficos
ax.bar_label(ax.containers[0], label_type='edge', padding=3)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
# Plotagem da distribuição de clientes que cancelaram o serviço e que não cancelaram
ax = df_churn['Churn'].value_counts(normalize=True).plot(kind='bar', title='Distribuição de clientes churn', xlabel='Churn', ylabel='Quantidade', color=['lightgreen', 'orange'], figsize=(10, 7))

# Adição de rótulos nos gráficos
ax.bar_label(ax.containers[0], label_type='edge', padding=3)

In [ ]:
# Identificação dos tipos de contratos existentes
df_churn['Contract'].unique()

In [ ]:
# Plotagerm da distribuição de tipos de contratos
ax = df_churn['Contract'].value_counts().plot(kind='bar', title='Distribuição de tipos de contratos', xlabel='Tipo de contrato', ylabel='Quantidade', color=['lightblue', 'lightgreen', 'orange'], figsize=(10, 7))

# Adição de rótulos nos gráficos
ax.bar_label(ax.containers[0], label_type='edge', padding=3)

In [ ]:
# Plotagerm da distribuição de tipos de contratos
ax = df_churn['Contract'].value_counts(normalize=True).plot(kind='bar', title='Distribuição de tipos de contratos', xlabel='Tipo de contrato', ylabel='Quantidade', color=['lightblue', 'lightgreen', 'orange'], figsize=(10, 7))

# Adição de rótulos nos gráficos
ax.bar_label(ax.containers[0], label_type='edge', padding=3)

In [ ]:
# Plotagerm da distribuição de tipos de contratos para clientes que cancelaram
ax = df_churn.query('Churn == "Yes"')['Contract'].value_counts(normalize=True).plot(kind='bar', title='Distribuição de tipos de contratos', xlabel='Tipo de contrato', ylabel='Quantidade', color=['lightblue', 'lightgreen', 'orange'], figsize=(10, 7))

# Adição de rótulos nos gráficos
ax.bar_label(ax.containers[0], label_type='edge', padding=3)

Hipótese 2: Um cliente com menos de 6 meses de contrato é mais propenso ao churn

In [ ]:
# Distribuição da coluna "tenure" (histograma)
ax = df_churn['tenure'].plot(kind='hist', title='Distribuição da coluna "tenure" (meses de contrato)', xlabel='Tenure', ylabel='Quantidade', color='lightblue', figsize=(10, 7))

> A variável "tempo de contrato" (tenure) não apresenta uma distribuição do normal, visualmente
- A grande parte dos valores se concentram nos extremos, ou seja, contratos com poucos meses de ativação e contratos longos, acima, aproximadamente, dos 65 meses

In [ ]:
# Histograma do MonthlyCharges
ax = df_churn['MonthlyCharges'].plot(kind='hist', title='Distribuição da coluna "MonthlyCharges" (mensalidade)', xlabel='MonthlyCharges', ylabel='Quantidade', color='lightgreen', figsize=(10, 7))

In [ ]:
# Medidas de posição da coluna "tenure" (tempo de contrato)
df_churn['tenure'].describe().loc[['mean', '50%', 'std']]

In [ ]:
# Moda da coluna "tenure" (tempo de contrato)
print(df_churn['tenure'].mode().loc[0])

In [ ]:
# Coeficiente de variação da coluna "tenure" (tempo de contrato)
coef_var = df_churn['tenure'].std() / df_churn['tenure'].mean() * 100
print(coef_var)

Hipótese 3: Cliente com contrato mensal é mais propenso ao churn

In [ ]:
# Quantos clientes possuem 1 mês de contrato (tenure)
df_churn[df_churn['tenure'] == 1].shape[0] # ou len(df_churn[df_churn['tenure'] == 1])

In [ ]:
# Quantos clientes possuem 1 mês de contrato (tenure) em porcentagem
len(df_churn[df_churn['tenure'] == 1]) / len(df_churn) * 100

In [ ]:
# Quantos clientes têm 1 mês a 6 meses de contrato
len(df_churn.query('tenure >= 1 and tenure <= 6'))

In [ ]:
# Quantos clientes têm menos 6 meses de contrato e são do sexo masculino
len(df_churn.query('tenure <= 6 and Genero == "Male"'))

In [ ]:
# Apresentação da quantidade de clientes por tempo de contrato (tenure) - top 5
df_churn['tenure'].value_counts().loc[:4] # ou df_churn['tenure'].groupby(df_churn['tenure']).count().sort_values(ascending=False).head()

In [ ]:
# Representação gráfica da quantidade de clientes por tempo de contrato (tenure) - top 5
ax = df_churn['tenure'].value_counts().head().plot(kind='bar', title='Top 5 - Distribuição de clientes por tempo de contrato', xlabel='Tenure', ylabel='Quantidade', color='#123456', figsize=(10, 7), rot=-0)

## Análise bivariada

Hipótese 1: Clientes com contrato do tipo mensal são mais propensos ao `churn`

In [ ]:
# Construir tabela de contingência entre as variáveis "Churn" e "Contract"
pd.crosstab(df_churn['Churn'], df_churn['Contract'], margins=True, margins_name='Total')

In [ ]:
# Construir tabela de contingência entre as variáveis "Churn" e "Contract" (porcentagens)
pd.crosstab(df_churn['Churn'], df_churn['Contract'], normalize=True, margins=True, margins_name='Total') * 100

In [ ]:
# Construir tabela de contingência entre as variáveis "Churn" e "Contract" (porcentagens) por coluna
pd.crosstab(df_churn['Churn'], df_churn['Contract'], normalize='columns', margins=True, margins_name='Total') * 100

> A maior proporção de churn está em clientes com contrato mensal (42,71% deixam de ser clientes frente a 11,27% e  e 2,83% nos contratos anual e bianual, respectivamente)

##### Avaliar a correlação entre 2 variáveis categóricas (qualitativas)

In [ ]:
# Executar um teste de hipótese chamado Chi-Square ou Qui-Quadrado de Pearson. Num teste de hipótese, 2 hipóteses são formuladas:
# A hipótese nula (H0): as variáveis são independentes
# E a hipótese complementar (H1): as variáveis são dependentes

# O teste serve para confirmar ou rejeitar a hipótese nula
# Se o p-valor for menor que 0.05, rejeitamos a hipótese nula e concluímos que as variáveis são dependentes

# Gerar um DataFrame com a tabela de contingência
df_crosstab_churn_contract = pd.crosstab(df_churn['Churn'], df_churn['Contract'])

In [ ]:
# Importar a função chi2_contingency do módulo scipy.stats
from scipy.stats import chi2_contingency

In [ ]:
# Calcular os scores do teste de hipótese e p-valor
chi_score_churn_contract = chi2_contingency(df_crosstab_churn_contract)
chi_score_churn_contract

In [ ]:
# Criando 2 séries com os valores de score e p-valor
chi_score = pd.Series(chi_score_churn_contract[0], name='Score')
p_value = pd.Series(chi_score_churn_contract[1], name='P-Value')

In [ ]:
# Apresentação de números com decimais sem notação científica
pd.set_option('display.float_format', lambda x: '%.30f' % x)

In [ ]:
# Criação do DataFrame com os resultados do teste de hipótese
df_chi_score_churn_contract = pd.DataFrame([chi_score, p_value], index=['Score', 'P-Value']).T
df_chi_score_churn_contract

> Diante do valor de p-valor (< 0.05), rejeitamos a hipótese nula e as variáveis `Chun` e `Contract` não são independentes. E pelo valor alto de Score (Qui-quadrado), elas possuem forte correlação

##### Avaliar a correlação entre uma variável qualitativa e quantitativa

Usar-se-á o mesmo teste de Chi-Square, mas transformar-se-á a variável quantitativa em qualitativa

Hipótese: clientes com menos de 6 meses de contrato têm maior probabilidade de cancelamento

In [ ]:
# Criação de uma coluna com base numa condição (TempoMenor6Meses)
import numpy as np

df_churn['TempoMenor6Meses'] = np.where(df_churn['tenure'] < 6, 'Yes', 'No')

In [ ]:
# Checar o dataframe com a nova coluna
df_churn.head()

In [ ]:
# Gerar a tabela de contingência entre as variáveis "Churn" e "TempoMenor6Meses"
df_crosstab_churn_tenure = pd.crosstab(df_churn['Churn'], df_churn['TempoMenor6Meses'])

In [ ]:
# Calcular os scores do teste de hipótese e p-valor
chi_score_churn_tenure = chi2_contingency(df_crosstab_churn_tenure)

In [ ]:
# Criação de 2 séries com os valores de score e p-valor
chi_score_tenure = pd.Series(chi_score_churn_tenure[0], name='Score')
p_value_tenure = pd.Series(chi_score_churn_tenure[1], name='P-Value')

In [ ]:
# Criação do dataframe com os resultados do teste de hipótese
df_chi_score_churn_tenure = pd.DataFrame([chi_score_tenure, p_value_tenure], index=['Score', 'P-Value']).T
df_chi_score_churn_tenure

> Como o p-valor é menor que 0.05, rejeitamos a hipótese nula e concluímos que as variáveis são dependentes. Porém, o score é baixo, indicando que a relação entre Churn e TempoMenor6Meses é mais fraca que a relação entre Churn e Contract

##### Correlação entre 2 variáveis numéricas

Hipótese: quanto mais tempo de contrato maior o valor pago

In [ ]:
# Correlação entre as variáveis Tenure e TotalCharges - Pearson
pd.set_option('display.float_format', lambda x: '%.4f' % x)
df_churn[['tenure', 'TotalCharges']].corr()

In [ ]:
# Correlação entre as variáveis Tenure e TotalCharges - Spearman
df_churn[['tenure', 'TotalCharges']].corr(method='spearman')

> Há uma forte correlação entre Tenure e TotalCharges (usando métodos estatísticos de correlação)

In [ ]:
# Apresentação de gráfico de dispersão entre as variáveis Tenure e TotalCharges
ax = df_churn.plot(kind='scatter', x='tenure', y='TotalCharges', title='Dispersão entre Tenure e TotalCharges', xlabel='Tenure', ylabel='TotalCharges', color='lightblue', figsize=(16, 7))

Desafio 1: validar a hipótese de que a faixa etária do cliente tem uma forte associação com o Churn

In [ ]:
# Com np.where(), criar uma variável Churn_numeric que recebe 1 se Churn for Yes e 0 se for No
df_churn['Churn_numeric'] = np.where(df_churn['Churn'] == 'Yes', 1, 0)

In [ ]:
# Avaliação da correlação entre as variáveis Churn_numeric e Above65yo
df_churn[['Churn_numeric', 'Mais65Anos']].corr()

> A correlação entre Churn e a idade do cliente (Mais65Anos) é considerada positiva e fraca

Desafio 2: validar com teste de hipótese se o Contrato Mensal está mais propenso ao Churn

In [ ]:
# Criação de uma nova variável chamada "ContratoMensal" que recebe "Yes" se o contrato for mensal e "No" se não for
df_churn['ContratoMensal'] = np.where(df_churn['Contract'] == 'Month-to-month', "Yes", "No")

In [ ]:
# Criação do teste de hipótese entre as variáveis Churn e ContratoMensal
df_crosstab_churn_monthly = pd.crosstab(df_churn['Churn'], df_churn['ContratoMensal'])
chi_score_churn_monthly = chi2_contingency(df_crosstab_churn_monthly)

chi_score_monthly = pd.Series(chi_score_churn_monthly[0], name='Score')
p_value_monthly = pd.Series(chi_score_churn_monthly[1], name='P-Value')

df_chi_score_churn_monthly = pd.DataFrame([chi_score_monthly, p_value_monthly], index=['Score', 'P-Value']).T
df_chi_score_churn_monthly

> Como o Score é muito alto e o p-valor é muito baixo, rejeitamos a hipótese nula e concluímos que as variáveis são dependentes. Ou seja, a variável Churn é dependente da variável ContratoMensal

## Detecção de outliers (valores atípicos)

In [ ]:
df_churn.info()

In [ ]:
# Remoção das linhas com valores ausentes
df_churn.dropna(axis=0, inplace=True)

In [ ]:
# Visualização da estrutura do dataframe após a remoção de valores ausentes
df_churn.info()

In [ ]:
# Visualização do Boxplot da coluna "TotalCharges"
ax = df_churn['TotalCharges'].plot(kind='box', title='Boxplot da coluna "TotalCharges"', figsize=(16, 9))

In [ ]:
# Visualização do Boxplot da coluna "TotalCharges" agrupado por "Contract"
ax = df_churn.boxplot(column='TotalCharges', by='Contract', figsize=(16, 9))

In [ ]:
# Criação de um dataframe apenas com os clientes com "Contract" igual a "Month-to-month"
df_churn_monthly = df_churn.query('Contract == "Month-to-month"').drop(columns=['Churn_numeric', 'ContratoMensal'])
df_churn_monthly

In [ ]:
# Visualização de um histograma para checar a distribuição da coluna "TotalCharges" no dataframe df_churn_monthly
ax = df_churn_monthly['TotalCharges'].plot(kind='hist', title='Histograma da coluna "TotalCharges"', xlabel='TotalCharges', ylabel='Quantidade', color='lightblue', figsize=(16, 9))

### Método de Tukey

In [ ]:
# Cálculo do IQR (Interquartile Range) da coluna "TotalCharges"
q1_TotalCharges_monthly = df_churn_monthly['TotalCharges'].quantile(0.25)
q3_TotalCharges_monthly = df_churn_monthly['TotalCharges'].quantile(0.75)
iqr_TotalCharges_monthly = q3_TotalCharges_monthly - q1_TotalCharges_monthly
print(iqr_TotalCharges_monthly)

In [ ]:
# Cálculo dos limites inferior e superior do Boxplot
lower_limit_TotalCharges_monthly = q1_TotalCharges_monthly - 1.5 * iqr_TotalCharges_monthly
upper_limit_TotalCharges_monthly = q3_TotalCharges_monthly + 1.5 * iqr_TotalCharges_monthly

# Limite inferior do Boxplot
print(lower_limit_TotalCharges_monthly)

In [ ]:
# Limite superior do Boxplot
print(upper_limit_TotalCharges_monthly)

In [ ]:
# Criação de um filtro para identificar outliers
outliers_TotalCharges_monthly = df_churn_monthly.query('TotalCharges < @lower_limit_TotalCharges_monthly or TotalCharges > @upper_limit_TotalCharges_monthly')
outliers_TotalCharges_monthly

### Z-Score (usado para distribuição normal)

Indica quantos desvios padrões um ponto específico de dados está distante da média

In [ ]:
# Z-score para identificar outliers (z-score = (x - mean) / std)
from scipy.stats import zscore

# Cálculo do z-score da coluna "TotalCharges" e tornando os valores absolutos
z_scores_TotalCharges_monthly = np.abs(zscore(df_churn_monthly['TotalCharges']))
z_scores_TotalCharges_monthly

In [ ]:
# Filtro para identificar outliers com z-score
df_churn_monthly[z_scores_TotalCharges_monthly > 3]

## Automatizando a EDA

In [ ]:
# SweetViz - importação
import sweetviz as sv

# SweetViz - criação do relatório
report = sv.analyze(df_churn, target_feat='Churn')